body{
  background-color: #FFFDFA;
}
footer{
  /* background-color: #3A6EC2; */
}
html { scroll-behavior: smooth; } 

.post {
    display: flex;
    overflow-x: auto;
  }
.post::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 37); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b3735; 
  }
.bg-nav{
  background-color: #F2B749

}
  #logo {
    margin: 5px;
    max-width: 40px;
    border-radius: 100%;
 }

  .hero {
    background-image: linear-gradient(
      rgba(7, 7, 7, 0.5),
      rgba(7, 7, 7, 0.5)
    ),
    url(https://www.altonivel.com.mx/wp-content/uploads/2017/02/Claves-para-viajar.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /* margin-bottom: 100px; */
}

h1, h2{
  font-family: 'Staatliches', cursive;

}
nav a {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h5, h4{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hero h1 {
  font-family: 'Staatliches', cursive;
  /* margin-left: 10%; */
  font-size: 4rem;
  /* color: #F2E74B; */
  color: white

}
.hero .boton {

  display: block;
  width: 10rem;
  background-color: #F2B749;
  font-family: 'Staatliches', cursive;
  border-radius: 4%;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
}

#imgsombra {
}

.hero-nosotros{
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),url(https://alasyviento.es/wp-content/uploads/2018/12/IMG_0970.jpg);
    height: 30%;
    background-size: cover;
    border-radius: 100%;
}

.nosotros h1 {
font-family: 'Staatliches', cursive;
font-size: 4rem;
color: rgb(229, 233, 15);

}
.nosotros>h1.text-warning {
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  text-shadow: 0 0 3px #343A40,
              0 0 3px #343A40;
}

.ulsinstyle{
  list-style: none;
 }
 .tam1 i{
 font-size: 50px;
 }

 .perfil {
  width: 100px;
  height: 100px;
  border-radius: 50px;
 }

